body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.app-header {
    background: linear-gradient(to right, #337bb3, rgb(5, 8, 158));
    padding: 10px;
    text-align: center;
}

.app-header h1 {
    margin: 0;
}

.container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container {
    text-align: center;
    margin: 20px;
}

.buttons-container {
    margin-top: 10px;
    text-align: center;
}

.cityButton {
    margin-top: 5px;
    margin-bottom: 5px;
}

.weather-container {
    margin-top: 20px;
    margin-right:10%;
}

#currentWeather,
#forecast {
    margin-top: 10px;
}

#currentWeather {
    border: 1px solid #ccc;
    padding: 10px;
}


.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.forecast-title {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.forecast-day {
    background-color: #35424a; /* Dark blue background color */
    color: #ffffff; /* White text color */
    padding: 10px;
    margin: 5px;
    text-align: center;
}

@media (max-width: 767px) {
    .forecast-day {
        width: 100%;
    }

    .weather-container{
        margin-left: 10%
    }

    .forecast-title {
        margin: 10px;
    }
}