/* Reset default margins and padding for certain elements */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Set the font for the entire page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* reset margin and padding for the fluid container */
.container-fluid {
    margin: 0;
    padding: 0;
}

/* styling for the application header */
.app-header {
    background: linear-gradient(to right, #337bb3, rgb(5, 8, 158));
    padding: 10px;
    text-align: center;
}

/* styling for the different containers */
.container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container {
    text-align: center;
    margin: 20px;
}

/* style for dynamically created butons and its container */
.buttons-container {
    margin-top: 10px;
    text-align: center;
}

.cityButton {
    margin-top: 5px;
    margin-bottom: 5px;
}

.weather-container {
    margin-top: 20px;
    margin-right:10%;
}

/* some style for the weather containers */
#currentWeather,
#forecast {
    margin-top: 10px;
}

/* specific border for current weather */
#currentWeather {
    border: 1px solid #ccc;
    padding: 10px;
}

/* attempts to get the 5 day forecast containers even */
.forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

/* style for the forecast title */
.forecast-title {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

/* Style for each day's containers */
.forecast-day {
    background-color: #35424a; /* Dark blue background color */
    color: #ffffff; /* White text color */
    padding: 10px;
    margin: 5px;
    text-align: center;
}


/* media query for smaller screens with certain fixes to different things to make them look better */
@media (max-width: 767px) {
    .forecast-day {
        width: 100%;
    }

    .weather-container{
        margin-left: 10%
    }

    .forecast-title {
        margin: 10px;
    }
}