body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.buttons-container {
    margin-top: 10px;
    text-align: center;
}

.cityButton {
    margin: 5px;
}

.weather-container {
    margin-top: 20px;
}

#currentWeather,
#forecast {
    margin-top: 10px;
}

#currentWeather {
    border: 1px solid #ccc;
    padding: 10px;
}

#row{
    display: flex;
}

.forecast-container {
    display: flex;
}

.forecast-day {
    background-color: #35424a; /* Dark blue background color */
    color: #ffffff; /* White text color */
    padding: 10px;
    margin: 5px;
    text-align: center;
}